<p>Location: <%= @run.location %></p>
<p>Date: <%= @run.date %></p>
<p>Distance: <%= @run.distance %> miles</p>
<p>Runner: <%= @run.runner.username %></p>

<% if @run.runner == current_user %>
	<form action="/runs/<%= @run.id %>/edit">
		<input type="submit" value="Edit Run">
	</form><br>

	<form action="/runs/<%= @run.id %>/delete" method="post">
		<input id="hidden" type="hidden" name="_method" value="delete">
		<input type="submit" value="Delete Run">
	</form><br>
<% end %>

<a href="/runs">View all runs</a>



